@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Montserrat:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'montserrat';
    font-weight: 600;
}

h1 {
    font-family: 'Merriweather';
    font-weight: 700;
}

h4 {
    font-family: 'Merriweather';
}

hr {
    width: 25%;
    height: 2px;
    display: block;
    margin: auto;
    padding-bottom: 0.5rem;
}

p {
    font-size: 18px;
}

#logo-img {
    width: 60px;
    height: auto;
}

/*home page*/
/* navbar styling */
.navbar {
    font-size: 2rem;
    font-family: 'Merriweather';
    width: 100%;
    height: 4rem;
    background-color: #ffffff;
}

#navbarNav {
    background-color: #ffffff;
    z-index: 1;
}

/* Hero image*/
.hero-image {
    height: 50vh;
    background-image: url('../img/gym1.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* main body*/
.introduction h2 {
    font-family: 'Merriweather';
    text-align: center;
    text-decoration: underline solid;
}

.introduction p {
    text-align: start;
    font-weight: 500;
}



.img-stc1 {
    display: grid;
    align-items: center;
}

.image-stance {
    height: auto;
    max-height: 40rem;
    width: 100%;
    border-radius: 1rem;
}

.img-stc2 {
    display: grid;
    align-items: center;
}

.image-stance2 {
    height: auto;
    max-height: 25rem;
    width: 100%;
}

/*benefit styling*/
.benefit h4 {
    font-family: 'Merriweather';
    font-size: 23px;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-decoration: underline;
}

.benefit p {
    font-weight: 500;
    text-align: center;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 1rem;
}

/* footer styling */
.footer {
    padding: 2.5rem 0;
    background-color: #f39200;
    height: 12rem;
}

.footer .social {
    text-align: center;
    padding-bottom: 1.5rem;
    color: black;
}

.footer .social a {
    font-size: 2rem;
    color: inherit;
    border: 1px solid black;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.2rem;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 0.5rem;
    opacity: 0.75;
}

.footer .social a:hover {
    opacity: 0.9;
}

.footer ul {
    margin-top: 0;
    padding: 0;
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a {
    color: inherit;
}

.footer ul li {
    display: inline-block;
    padding: 0 1rem;
}

.footer ul li a:hover {
    opacity: 1;
}

.footer .copyright {
    margin-top: 1rem;
    text-align: center;
    font-size: 0.9rem;
    color: black;
}

/*about page*/
/*hero styling*/
.hero-image-about {
    height: 50vh;
    background-image: url('../img/gym2.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*about section styling*/
.about h3 {
    text-decoration: underline;
    text-align: center;
}

.about p {
    font-weight: 500;
    text-align: justify;
}

.abt-pht {
    display: grid;
    align-items: center;
}

.about-photo {
    border-radius: 1rem;
    height: auto;
    max-height: 40rem;
    width: 100%;
}

/*classes styling*/
.card {
    background-color: #f39200;
    border-radius: 1rem;
}

/*Contact page*/
.form h1 {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.form label {
    font-size: 20px;
    font-weight: 600;
}

.map-wrapper {
    max-width: 56.25rem;
    display: grid;
    align-items: center;
    margin-bottom: 1rem;
}

.map {
    width: 100%;
}

/* media queries */
@media (max-width: 767px) {
    #logo-img {
        width: 50px;
        height: 50px;
    }

    .hero-image {
        height: 30vh;
        background-image: url('../img/gym1.jpg');
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: right;
    }

    .hero-image-about {
        height: 30vh;
        background-image: url('../img/gym2.jpg');
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: right;
    }
}